<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>文字認識翻訳</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
  <header>
    <h1 class="title">文字認識翻訳</h1>
  </header>
  <main>
    <div class="form_box">
      <form action="confirm.html" method="post" enctype="multipart/form-data">
        <p><input type="file" name="upload_file"></p>
        <p class="button"><input type="submit" value="翻訳する"></p>
      </form>
    </div>
  </main>
  <footer></footer>
</body>
</html>